@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f1f1f1;
}

nav {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 0 10px;
}

nav li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

nav li a:hover {
    background-color: #333;
    color: #fff;
}

.logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}

#title {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    font-size: 30px;
}

#content {
    text-align: center;
    font-size: 18px;
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.settings-item {
    display: inline-block;
    border: 1px solid #27272a;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    transition: all 0.2s ease-in-out;
    margin: 15px;
}

.settings-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.settings-item p {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    border-radius: 3px;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1b1a1a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.settings-item input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.settings-item button {
    background-color: #27272a;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: auto;
    transition: all 0.3s linear;
}

.settings-item button:hover {
    transform: scale(1.05);
}

.settings-item select {
    cursor: pointer;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.settings-container option {
    padding: 10px;
    cursor: pointer;
}

img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: 0.2s;
}

img:hover {
    transform: scale(1.2);
}